# Dependencies
node_modules/

# Playwright artifacts
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/

# Environment files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
soal1.md
penjelasan-qa-automation-untuk-fullstack.md
langkah-pengerjaan-qa-playwright.md